.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 0;
  margin-bottom: auto;
  align-items: flex-start;
  position: relative;
}

.input-message {
  margin-left: 2em;
}

.input {
  border: 1px solid grey;
  background-color: inherit;
  border-radius: 10px;
}

.input-selection {
  display: flex;
  width: 100%;
  justify-content: center;  
}

.dir-select-btn {
  height: 2.7vh;
  padding: 10px 10px;
}

.input-small {
  height: 2.4vh;
  width: 60%;
}

.input-medium {
  height: 2.7vh;
  width: 80%;
}

.dir-select-btn:focus {
  outline: none;
}

.input-large {
  height: 3.7vh;
  width: 90%;
}

.input:focus {
  outline: none;
  border: 1px solid rgb(169, 137, 229);
}

.input::placeholder {
  font-style: italic;
  font-size: 0.9rem;
}
