:root {
  font-family: "Sen" Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #E6E6E6;
  background-color: #000;
  font-family: Helvetica, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #8f94f3;
}

a:hover {
  color: #535bf2;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.titlebar {
  height: 40px;
  background: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  gap: 2em;
  left: 0;
  right: 0;
  background-color: #0f0f0f;
  box-shadow: rgba(158, 158, 158, 0.35) 0px 5px 10px;
  padding: 0 10px;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  color: #fffdfd;
  cursor: pointer;
}

#titlebar-close button {
  border-radius: 50%;
  padding: 0.5em;
  width: 18px;
  height: 18px;
  border: 1px solid #deddda;
  color: #deddda;
  position: relative;
}

#titlebar-close button:hover {
  border: 1px solid rgb(26, 26, 26);
  background-color: rgb(228, 118, 118);
  color: #141414;
}

#titlebar-close button::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #deddda;
  width: 1px;
  left: 8px;
  top: 3px;
  bottom: 2px;
  transform: rotate(45deg);
}

#titlebar-close button::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #deddda;
  height: 1px;
  top: 8px;
  left: 3px;
  right: 2px;
  transform: rotate(45deg);
}

#titlebar-close button:hover::after {
  background-color: #000;
}

#titlebar-close button:hover::before {
  background-color: #000;
}